NEXT_PUBLIC_SITE_URL=https://susnoodle.com
NEXT_PUBLIC_ROOM_WORKER_URL=https://susnoodle-rooms.ajaimini2.workers.dev
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_CLOUDFLARE_WEB_ANALYTICS_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
